body {
  
}
#navbar{
    color: crimson;
    padding: .25rem;
    background-color: lightgrey;
}

.footsection{
    padding: .5rem;
    background-color: lightgray;
    height: 3rem;
}

#copyright{
    text-align: center;
    color: orangered;
}

header{
    
    padding-top: 10px;
    background-color: black;
}

h1{
    margin-left: .75rem;
    color: white;
}

main{
    margin-left: .5rem;
}

article{
    
    font-size: 20px;
}

.aboutmain{
padding: .4em;
}
