#navbar{
    display: flex;
    color: crimson;
    padding: .35rem;
    background-color: lightgrey;
    align-content:flex-start;
    /*transition: all 2s ease 2s;*/
}

#navbar:hover{
    /*height: 2.5vmin;*/
    font-weight: 700;
    
}

.footsection{
    padding: .5rem;
    background-color: lightgray;
    height: 3rem;
    /*border: 2px solid green;*/
}

#copyright{
    text-align: center;
    color: orangered;
}

header{
    /*border: double 5px green;*/
    padding-top: 10px;
    background-color: black;
}

h1{
    margin-left: .75rem;
    color: white;
}

#indexmain{
    margin-left: .5rem;
    margin-right: .55rem;
    padding: 5px 10px;
}

#indexmaintitle{
    color: black;
}

article{
    font-size: 20px;
}

#aboutmain{
    text-align: justify;
    padding: .4em;
}

.indexarticle{
    margin: 2px 9px 3px 1px;
}

#aboutarticle{
    font-family: 'Frank Ruhl Libre', sans-serif;
}

#mainheading{
    font-family: 'Bevan', cursive;
}

.animationicon{
    background: rgb(32, 10, 204);
    height: 10vmin;
    width: 10vmin;
    transition: all 2s ease 0s;
    -webkit-transition: all 2s ease 0s;
}


.animationicon:hover{
    border-radius: 50%;
    background: rgb(255, 0, 0);
    height: 15vmin;
    width: 15vmin;
}